<br>
<div class="jumbotron">
<h1>Tasks!! Woohoo</h1>
<br>
<table class="table table-hover">
  <% @tasks.each do |task| %>
    <tr>
      <form action="/tasks/<%= task.id %>/" method="post">
        <td>
          <%= task.description %>
        </td>
        <td>
          <a href="/tasks/<%= task.id %>/edit">edit</a>
        </td>
        <td>
          <a href="/tasks/<%= task.id %>"
            data-confirm="You sure?"
            data-method="delete"
            rel="nofollow">delete</a>
        </td>
        <td>
          <input name="_method" type="hidden" value="patch">
          <input name="done" type="hidden" value="<%= task.done = true %>">
          <button>Mark done</button>
        </td>
      </form>
    </tr>
  <% end %>
</table>
</div>


<h2>New Task</h2>
<br>
<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks" method="post">
  <label for="task_description">Task</label>
  <input id="task_description" name="description" type="text" value="<%= @task.description %>">
  <button>Create Task</button>
</form>
<br>
<h3>Completed Tasks</h3>

<ul>
  <% @tasks_completed.each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>

