<h1>Tasks!! Woohoo</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <%= task.description %> <a href="/tasks/<%= task.id %>/edit">edit</a>
    <a href="/tasks/<%= task.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">delete</a></p>
    </li>
  <% end %>
</ul>

<h2>New Task</h2>

<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks" method="post">
  <label for="task_description">Task</label>
  <input id="task_description" name="description" type="text" value="<%= @task.description %>">
  <button>Create Task</button>
</form>
